article.Work
  div.Work-text
    h3.Work-title
      | #{title}
      .Work-subtitle #{subtitle}
    p.Work-description #{description}
    div.Work-links
      for item in links
        a.Work-link(href=item.link)
          | #{item.label}
  figure.Work-image.js-Lazyload(data-image=image,data-hires='true',role='presentation')


